<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/Logs/nlog-internal.log"
      throwConfigExceptions="true">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <targets>
        <target name="console"
				xsi:type="Console"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

        <target name="allfile"
				xsi:type="File"
				fileName="${basedir}/Logs/${shortdate}.log"
				createDirs="true"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

        <target name="errorfile"
				xsi:type="File"
				fileName="${basedir}/Logs/error-${shortdate}.log"
				createDirs="true"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

        <target name="authfile"
				xsi:type="File"
				fileName="${basedir}/Logs/auth-${shortdate}.log"
				createDirs="true"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
    </targets>

    <rules>
        <logger name="CoreAPI.Controllers.AuthController" minlevel="Trace" writeTo="authfile,console" final="true" />
        <logger name="*" minlevel="Info" writeTo="allfile,console" />
        <logger name="*" minlevel="Error" writeTo="errorfile" />
    </rules>
</nlog>
